@model Item

<div class="row">
    <div class="col-md-4">

        <a asp-controller="Item" asp-action="Done" class="btn btn-primary  btn-floating  btn-sm"
            data-mdb-ripple-color="#46464a" style="background-color:#46464a" asp-route-itemId="@Model.ID">
            @if (Model.Done)
            {
                <i class="far fa-check-square fa-lg" style="color: #fbfbfb"></i>
            }
            else
            {
                <i class="far fa-square fa-lg" style="color: #fbfbfb"></i>
            }
        </a>
    </div>
    <div class="col-md-3 offset-md-5">
        <div class="row">
            <div class="col-6">
                <a asp-controller="Item" asp-action="Create" class="btn btn-primary  btn-floating  btn-sm"
                    data-mdb-ripple-color="#46464a" style="background-color:#46464a" asp-route-itemId="@Model.ID"><i
                        class="fas fa-pen" style="color: #fbfbfb"></i></a>
            </div>
            <div class="col-3">
                <a asp-controller="Item" asp-action="Delete" class="btn btn-primary  btn-floating  btn-sm"
                    data-mdb-ripple-color="#46464a" style="background-color:#46464a" asp-route-itemId="@Model.ID"><i
                        class="fas fa-trash-alt" style="color: #fbfbfb"></i></a>
            </div>
        </div>

    </div>
</div>